{% extends "base.html" %}
{% block title %}Confirm Tag Deletion{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card border-warning">
      <div class="card-header bg-warning text-dark">
        Confirm Tag Deletion
      </div>
      <div class="card-body">
        <p>Do you really want to delete the tag:</p>

        <h4>
          {% if object.name %}
            {{ object.name }}
          {% else %}
            {{ object }}
          {% endif %}
        </h4>

        <p class="text-muted">
          Deleting the tag will not delete tasks, but the tag will be removed from the tasks.
        </p>

        <form method="post" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Yes, delete the tag</button>
          <a href="{% url 'tasks:tags' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}